@use "../../../presets" as *;
@use "../../../mixins" as *;

.cases__items {

    display: flex;
    gap: $gap;
    border: 1px solid $color-white;

    padding: 20px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    &-description {
        font-size: 1.5 * $font-size;
        line-height: 1.19;
        color:$color-primary-soft;
        @include lg {
            font-size: 1.125 * $font-size;
        }
    }
    &-caption {
        font-size: 1.125 * $font-size;
        color: $color-gray-bg-text;
    }
}

