@use "../../../presets" as *;
@use "../../../mixins" as *;

.clients {
    &__container {
        max-width: 100vw;
       
        }
    &__title {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $color-primary;
        padding-bottom: 30px;
        text-align: center;
    }
    &__content {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-items: stretch;

    @include lg {
        grid-template-columns: repeat(3, 33.333%);
    }
    @include md {
        grid-template-columns: repeat(2, 50%);
    }
    }

}
