@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
    display: flex;
    align-items: center;
    gap: $gap;

    @include sm-min {
        justify-content: flex-end;
        a {
            color: $color-white;
        }
    }
    @include sm {
        justify-content: space-between;
        a {
            color: $color-gray-bg-tex;
        }
    }

    &__languages {
        display: flex;
        gap: 3px;

        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;

        &-link {

            border-radius: 8px;
            padding: 5px 6px;
            &.-active {
                background: $color-accent;
                color: $color-white;
            }
        }
    }
    &__locations {
        @include md {
            display: none;
        }
        &-link {
            font-weight: 400;
            font-style: normal;
         }
    }
    &__phones {
        &-link {
          font-weight: 700;
        }
    }
    &__socials {
        @include lg {
            display: none;
        }
    }
}