@use "../../../presets" as *;
@use "../../../mixins" as *;

.actions {
  display: flex;
  align-items: center;

  gap: $gap;
  @include sm-min {
    justify-content: flex-end;
    a {
      color: $color-white;
    }
  }
  @include sm {
    justify-content: space-between;
    a {
      color: $color-gray-bg-text;
    }
  }

  &__languages {
    display: flex;

    letter-spacing: 1px;

    font-size: 12px;
    font-weight: 700;

    gap: 3px;

    &-link {
      padding: 5px 6px;

      border-radius: 8px;
      &.-active {
        color: $color-white;
        background: $color-accent;
      }
    }
  }
  &__locations {
    @include md {
      display: none;
    }
    &-link {
      font-weight: 400;
      font-style: normal;
    }
  }
  &__phones {
    &-link {
      font-weight: 700;
    }
  }
  &__socials {
    @include lg {
      display: none;
    }
  }
}
