@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-header {
  position: relative;

  background: linear-gradient($bg-gradient1);
  &::before {
    content: "";

    background-image: url(../img/Frame2.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 86.4vh;

    @include abs-position;
  }

  &::after {
    content: "";

    background: linear-gradient(to top, $color-primary 0%, transparent 100%);

    @include abs-position(75%);
  }

  &__grid {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "logo actions" "logo menu";
    gap: $gap-sm $gap;
    z-index: 2;

    @extend %container;
    }
  &__logo {
    grid-area: logo;
  }
  &__menu {
    grid-area: menu;
  }
  &__actions {
    grid-area: actions;
  }
  &__content {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    &-title {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;

      width: 100%;
      max-width: 620px;
      margin: 0;

      transform: translate(-50%, -50%);
      text-align: center;

      color: $color-white;

      font-family: "TT Norms";
      font-size: 38px;
      font-weight: 500;
      line-height: 45px;
    }
    &-image {
      height: 62vh;

      transform: translate(4px, 29.2%);
    }
  }

  &__button {
    position: absolute;
    z-index: 2;
    bottom: $gap;
    left: 50%;

    cursor: pointer;
    transform: translateX(-50%);
  }
}
