@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-header {
  position: relative;
  background: linear-gradient($bg-gradient1);
  &::before {
    background-image: url(../img/Frame2.svg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 86.4vh;
    content: "";
    @include abs-position;
  }

  &::after {
    background: linear-gradient(to top, $color-primary 0%, transparent 100%);
    content: "";
    @include abs-position(75%);
  }

  &__grid {
    display: grid;
    position: relative;
    background-color: red;
    top: 0;
    right: 0;
    left: 0;
  }
  &__logo {
    grid-area: logo;
  }
  &__menu {
    grid-area: menu;
  }
  &__actions {
    grid-area: actions;
  }
  &__content {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &-title {
      margin: 0;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 620px;

      font-family: 'TT Norms';
      font-size: 38px;
      font-weight: 500;
      line-height: 45px;
      text-align: center;
      color: $color-white;
    }
    &-image {
      transform: translate(4px, 29.2%);
      height: 62vh;
    }
  }

  &__button {
    position: absolute;
    z-index: 2;
    bottom: $gap;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
