@use "../../../presets" as *;
@use "../../../mixins" as *;

.page-footer {
    @include footer;
    &__container {
        @extend %container;
        border-top: 4px solid $color-gray-bg-separator;

        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        @include lg {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }

}
