@use "../../scss/presets" as *;
@use "../mixins" as *;

// cases
@mixin cases {
  &__container {
    margin-bottom: 30px;

    border-radius: 12px;
    background-color: $color-gray-bg;

    @extend %container;
  }
  &__title-hidden {
    @include visually-hidden;
  }
  &__title {
    padding: 20px 20px 20px 20px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: $color-accent;
    border: 1px solid $color-white;

    font-size: 0.875 * $font-size;
    font-weight: 700;

    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 1;
  }
  &__wrapper-up {
    display: grid;
    align-items: end;

    grid-template-columns: 1fr 1.05fr 1fr;
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__wrapper-down {
    display: grid;
    align-items: end;

    grid-template-columns: 1fr 1.42fr 1.71fr;
    @include md {
      grid-template-columns: 1fr;
    }
  }
  &__hillel {
    @include md-min {
      grid-column-end: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-row-start: 2;
    }
  }
  &__preparation {
    @include md-min {
      grid-column-end: 2;
      grid-column-start: 2;
      grid-row-end: 4;
      grid-row-start: 1;
    }
  }
  &__tapgerine {
    @include md-min {
      grid-column-end: 3;
      grid-column-start: 3;
      grid-row-end: 4;
      grid-row-start: 1;
    }
  }
}

// cases-items

@mixin cases-items {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;

  height: 100%;
  padding: 20px;

  border: 1px solid $color-white;

  gap: $gap;

  &-description {
    color: $color-primary-soft;

    font-size: 1.5 * $font-size;
    line-height: 1.19;

    @include lg {
      font-size: 1.125 * $font-size;
    }
  }
  &-caption {
    color: $color-gray-bg-text;

    font-size: 1.125 * $font-size;
  }
}
