@use "../../../presets" as *;
@use "../../../mixins" as *;
@use "../../../mixins-styles" as *;

.photo {
  display: flex;

  justify-content: center;
align-items: center;
height: 438px;
margin-bottom: 80px;
@include xl {
  height: 392px;
}
@include lg {
  height: 310px;
  margin-bottom: 20px;
}
@include md {
  height: 217px;
}
&__container {
width: 100%;

  background-image: url('../../../../../../hlegals/assets/img/team.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 438px;
  @include xl-min {
    background-size: cover;
  }
  @include xl {
    height: 392px;
  }
  @include lg {
    height: 310px;
  }
  @include md {
    height: 217px;

  }
  @include md {
    height: 217px;

  }
  @include xs {
    height: 217px;
    background-image: url(../../../../../../hlegals/assets/img/team-cut.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
  &__description {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
    font-size: 6 * $font-size;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 63px;
    text-transform: uppercase;
    color: $color-white;
    opacity: 0.8;
    text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
    @include lg {
      font-size: 3 * $font-size;
    }
    @include md {
      font-size:  36px;
      text-align: center;
letter-spacing: 20px;
    }
  }

}
