@use "../../../presets" as *;
@use "../../../mixins" as *;
@use "../../../mixins-styles" as *;

.work {
  &__container {
    @extend %container;
    padding: 0 110px;
    display: flex;
    gap: $gap-xl;
    margin-bottom: 90px;
    @include lg {
      display: block;
    }
    @include md {
      display: block;
      padding: 0;
    }
  }
  &__title {
    @include visually-hidden;
  }
 &__text {
  display: flex;
  flex-direction: column;
  gap: $gap;
  flex-shrink: 1.45;
  margin-bottom: 80px;
  @include sm {
    gap: 5px;
    margin-bottom: 20px;
  }
  }
  &__paragraph {
    font-size: 21px;
    line-height: 1.3;
    @include sm {
      font-size: 18px;
    }
  }
  &__quote {
    font-size: 2.625 * $font-size;
    line-height: 1.15;
    background: linear-gradient($text-gradient2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
margin-top: 20px;
@include sm {
  font-size: 2 * $font-size;
}
  }
}
