@use "../../../presets" as *;
@use "../../../mixins" as *;

.team {
    &__container {
        @extend %container;
        background-color: $color-gray-bg;
        border-radius: 12px;

    }

    &__content {
        display: grid;
        column-gap: $gap-xl;
        grid-template-areas: "pic link" "pic quote" "pic cap";
        @include md {
            padding: 0 0 20px 20px;
            column-gap: 0;
        }

    }
    &__title {
        @include visually-hidden;
    }
    &__flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include md {
            display: grid;
            gap: $gap-sm;
            grid-template-areas: "link link" "quote quote" "picm cap";
            grid-template-columns: 60px 1fr;
        }


    }
    &__page-link {
        display: flex;
        text-align: center;
        gap: 9px;
        letter-spacing: 1px;
        text-transform: uppercase;
        grid-area: link;

        color: $color-active;

        font-size: 0.875 * $font-size;
        padding-top: 40px;
        @include md {
            padding-top: 20px;
            }
    }

    &__picture {
        grid-area: pic;
    }
    &__image {
        height: 100%;
        @include xl {
            width: 313px;
            height: 400px;
            margin-bottom: -4px;
        }
        @include lg {
            width: 283px;
            height: 100%;

        }
        @include md {
            display: none;

        }
    }
    &__picture-mini {
        grid-area: picm;
    }
    &__image-mini {
        display: none;

        @include md {
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 120px;

        }
    }
    &__quote {
        grid-area: quote;
    }
    &__quote-text {

        background: linear-gradient($text-gradient2);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        width: min-content;
        width: 100%;
        font-weight: 700;
        font-size: 2.625 * $font-size;
        line-height: 1.15;
        padding-bottom: 20px;
        padding-right: 40px;
        @include xl {
            font-size: 2 * $font-size;
        }
        @include md {
            padding-right: 0;
            padding-bottom: 10px;
        }

    }
    &__caption {
        color: $color-gray-bg-text;
        display: flex;
        flex-direction: column;
        gap: 5px;
        grid-area: cap;
        &-name{
            font-weight: 400;
            font-size: 18px;
        }
        @include md {
            gap: 0;
        }
    }
    &__indicators {
        padding-top: 20px;
        @extend %container;
        display: flex;
        justify-content: center;
        gap: $gap-md;
    }
    &__indicator {
        width: $font-size;
        height: $font-size;

        opacity: 0.2;
        border-radius: $font-size *0.5;
        background-color: $color-active;

        &.-active {
          opacity: 1;
        }
      }
}
