$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;

$color-accent: #f0145a;

$color-active: #24a3ff;
$color-active-hover: #0085ff;
$color-active-active: #006ccf;

$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-bg-text: #b3b3ba;
$color-gray-bg: #e6e6f0;

$color-white: #ffffff;
$color-black: #000000;

$bg-gradient1: 42deg, $color-primary 15%, $color-primary 51%, #7a425e 88%
