@use "../../../presets" as *;
@use "../../../mixins" as *;
@use "../../../mixins-styles" as *;


.hero {
  &__container {
    display: flex;

    padding: 0 110px;

    @extend %container;
    gap: 60px;
    @include xl {
      padding: 0 30px 0 30px;
    }
    @include lg {
      flex-direction: column;

      padding: 0;

      gap: $gap;
    }
  }
}

