@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-primary;
  font-size: $font-size;
}



a {
  text-decoration: none;
transition: 0.5s;
  color: $color-active;
  &:hover {
    text-shadow: 0 0 15px rgb(252, 0, 0);
    transform: translateY(-5px);
  }
}
